[submodule "libraries/springer"]
	path = libraries/springer
	url = https://github.com/Naxious/springer
[submodule "libraries/syscore"]
	path = libraries/syscore
	url = https://github.com/Naxious/syscore
[submodule "libraries/observer"]
	path = libraries/observer
	url = https://github.com/Naxious/observer
